<!-- Header -->
<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-text">
                  <a href="/tracks"><i class="fa fa-play fa-5x" style="color:white;"></i></a>
                    <span class="name">Good Tracks</span>
                    <hr class="star-light">
                    <span class="skills">The best music from across the web</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Portfolio Grid Section -->
<section id="portfolio">
  <div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2>Track Genres</h2>
            <hr class="star-primary">
        </div>
    </div>
    <div class="row">
		  <div class="col-sm-4 portfolio-item">
        <div class="caption">
            <div class="caption-content">
              <a href="/tracks/classic_rock"><h3>Classic Rock</h3></a>
					  </div>
        </div>
      </div>
		  <div class="col-sm-4 portfolio-item">
        <div class="caption">
            <div class="caption-content">
              <a href="/tracks/new_music"><h3>New Music</h3></a>
					  </div>
        </div>
      </div>
      <div class="col-sm-4 portfolio-item">
        <div class="caption">
            <div class="caption-content">
              <a href="/tracks/hip_hop"><h3>Hip Hop</h3></a>
					  </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- About Section -->
<section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis suscipit natus quibusdam sapiente maiores magni minima perferendis a quo quae ducimus saepe hic placeat laboriosam atque sunt, ut error dignissimos? Quod repudiandae expedita, laboriosam distinctio fugit blanditiis sed quis magnam, voluptates ullam esse reiciendis.</p>
            </div>
            <div class="col-lg-4">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore animi quae ea culpa dicta, sequi ipsa molestias vitae necessitatibus porro doloribus ad? Ipsa consectetur nostrum cupiditate delectus dignissimos, unde commodi odio minima iste saepe facere soluta, laboriosam tenetur veritatis, cumque, labore dolores vel molestiae!</p>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <a href="/tracks/new" class="btn btn-lg btn-outline">
                  <i class="fa fa-play"></i>Add a Good Track
                </a>
            </div>
        </div>
    </div>
</section>
